<%= render 'shared/header' %>
<section class="spot-show content-width">
  <div class="spot-block">
  <%= render 'shared/modal' %>
    <div class="spot-info">
      <div class="spot-name">
        <h1><%= @spot.name %></h1>
        <span><%= render 'shared/favorite', spot: @spot %></span>
      </div>
      <p class="spot-star">
        <span class="rate" data-score="<%= @spot.average_rate %>"></span>
        <span><%= @spot.average_rate.round(2) %></span>
        <span class="review-num">
          <i class="fas fa-regular fa-comment-dots"></i>
          <%= @reviews.count %>件
        </span>
      </p>
      <i class="fas fa-map-marker-alt"></i>
      <span class="spot-address"><%= @spot.address %></span>
    </div>
    <div class="spot-images">
      <% if @images.present? %>
        <ul class="slider spot-slider view-modal">
          <% @images.each do |image| %>
            <li>
              <%= image_tag(image, class:'slider-image') %>
            </li>
          <% end %>
        </ul>
        <ul class="thumbnail">
          <% @images.each do |image| %>
            <li><%= image_tag(image.variant(resize: "70x70"), class:'slider-image') %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="no-image">このスポットの写真はありません。</p>
      <% end %>
    </div>
  </div>
  <div class="review-block" id="review">
    <h2 class="othres-review-title">このスポットのレビュー一覧</h2>
    <% if @reviews.empty? %>
      <p>このスポットのレビューはありません。</p>
    <% else %>
      <%= render @reviews ,length: @max_review_content_length %>
    <% end %>
  </div>
</section>
<%= render 'shared/footer' %>
