<section class="sineup contents-tidy">
  <div class="user-form-block">
    <% if alert.present? %>
    <p class="flash alert">
      <%= alert %>
    </p>
    <% end %>
    <h2>アカウント情報変更</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email, 'メール' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "新しいパスワード (#{@minimum_password_length} 文字以上)" %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'パスワード再入力' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="form-group">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <div class="form-group">
      <%= f.submit '更新', class: 'submit-button' %>
    </div>
    <% end %>

    <h3 class="delete-account" data-turbolinks="false">アカウントの削除
      <p>
        <%= link_to "削除する場合はこちら", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, "data-turbolinks": false, class:"asasa", method: :delete %>
      </p>
    </h3>
    <%= link_to "戻る", :back %>
  </div>
</section>
