<div class="box user-review-box myreview-box contents-tidy">
  <div class="left-block">
    <h4 class="name"><%= link_to review.spot.name, review.spot %></h4>
    <span class="rate" data-score="<%= review.rate %>"></span>
    <span><%= review.rate %></span>
    <h5 class="title"><%= review.title %></h5>
    <p class="text">
      <%= review.content.slice(0..length) %><%= '...'  if review.content.length > length %>
    </p>
    <div class="space-between align-items-end">
      <div class="contents-tidy">
        <p><%= render 'shared/like', review: review %></p>
        <div class="reviewer-info">
          <span class="review-date">
            <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>に更新
            <%= link_to '| 編集', edit_review_path(review) if current_user == review.user %>
          </span>
        </div>
      </div>
      <span><%= link_to '詳細を見る', review %></span>
    </div>
  </div>
  <div class="right-block">
    <div class="spot-thumbnail">
      <% if review.images.attached? %>
        <%= image_tag(review.images[0])%>
      <% else %>
        <%= image_tag('noimage.png') %>
      <% end %>
    </div>
  </div>
</div>
