<%= render 'shared/header' %>
<section class="home">
  <div class="top-block">
    <h1 class="catchcopy">オフの日、瞑想するなら<br>MediSpot</h1>
    <div class="search-block contents-tidy">
      <%= form_with url: spots_path, method: :get, local: true ,class: 'search-box' do |f| %>
        <%= f.text_field :area, class: 'form', placeholder: 'エリア検索 [例: 東京, 新橋]' %>
        <%= f.text_field :keyword, class: 'form', placeholder: 'キーワード検索 [例: 瞑想, ヨガ]' %>
        <%= f.submit '検索', class: 'submit' %>
      <% end %>
    </div>
  </div>
  <div class="main-section content-width contents-tidy">
    <div class="section-left spot-block">
      <h4 class="block-title">いま話題のスポット</h4>
      <div class="spot-box-block">
        <% @popular_spots.each.with_index(1) do |spot, i| %>
          <%= link_to spot, class:'spot-box', id:"spot_#{i}" do %>
            <div class="spot-info">
              <h3 class="spot-name"><%= spot.name %></h3>
              <p class="spot-star">
                <span class="rate" data-score="<%= spot.average_rate %>"></span>
                <span><%= spot.average_rate.round(2) %></span>
              </p>
              <p class="spot-address">
                <i class="fas fa-solid fa-map-pin"></i>
                <%= spot.address.gsub(/[0-9０-９].*/, '') %>
              </p>
            </div>
            <% if images = spot.images(@max_spot_image_num) != [] %>
              <% spot.images(@max_spot_image_num).each do |image| %>
                <div class="spot-img">
                  <%= image_tag(image) %>
                </div>
              <% end %>
            <% else %>
              <div class="spot-img">
                <%= image_tag('noimage.png') %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="section-right review-block">
      <h4 class="block-title">最新のレビュー</h4>
      <%= render partial: 'recent_review', collection: @recent_reviews, as: 'review' %>
    </div>
  </div>
  <div class="about-section content-width">
    <h2>Medispotとは？</h2>
    <h4>
      MediSpotは、都内でヨガ・瞑想の体験ができるスポットを、
      ユーザーの体験レビューをもとに検索できるサービスです。
    </h4>
  </div>
</section>
