<%= render 'shared/header' %>
<section class="home">
  <div class="top-block">
    <h1 class="catchcopy">オフの日、瞑想するなら<br>MediSpot</h1>
    <div class="search-block contents-tidy">
      <%= form_with url: spots_path, method: :get, local: true ,class: 'search-box' do |f| %>
        <%= f.text_field :area, class: 'form', placeholder: 'エリア検索 [例: 東京, 新橋]' %>
        <%= f.text_field :keyword, class: 'form', placeholder: 'キーワード検索 [例: 瞑想, ヨガ]' %>
        <%= f.submit '検索', class: 'submit' %>
      <% end %>
    </div>
  </div>
  <div class="main-section content-width contents-tidy">
    <div class="section-left spot-block">
      <h4 class="block-title">いま話題のスポット</h4>
      <% 3.times do %>
        <%= link_to '#', class:'spot-box contents-tidy' do %>
          <div class="spot-info">
            <h3 class="spot-name">スポット名</h3>
            <p class="spot-star">
              <span class="rate">★★★★★</span>
            </p>
            <p class="spot-address">
              <i class="fas fa-solid fa-map-pin"></i>
              東京都新宿区◯◯
            </p>
          </div>
          <% 3.times do %>
            <div class="spot-img">
              <%= image_tag('noimage.png') %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="section-right review-block">
      <h4 class="block-title">最新のレビュー</h4>
      <% 3.times do %>
        <%= link_to '#', class:"review-box" do %>
          <div>
            <h3>スポット１</h3>
            <p>
              <span class="rate">★★★★★</span>
              <span>5.0</span>
            </p>
            <div class="review-title">
              <p>タイトル by</p>
              <div>
                <%= image_tag('guest_user.png', class: 'icon') %>
              </div>
              <p>ユーザ１</p>
            </div>
            <p>
              120文字の内容を表示。120文字の内容を表示。120文字の内容を表示。120文字の内容を表示。
              120文字の内容を表示。120文字の内容を表示。120文字の内容を表示。120文字の内容を表示。
              120文字の内容を表示。120文字の内容を表示。
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="about-medispot content-width">
    <h2>Medispotとは？</h2>
    <h4>
      MediSpotは、都内でヨガ・瞑想の体験ができるスポットを、
      ユーザーの体験レビューをもとに検索できるサービスです。
    </h4>
  </div>
</section>
