<%= render 'shared/header' %>
<section class="review-new content-width">
  <div class="review-area area" id="review">
    <div class="spot-area">
      <div class="spot-box contents-tidy">
        <div class="spot-info">
          <h3 class="spot-name"><%= @review.spot.name %></h3>
          <p class="spot-address"><%= @review.spot.address %></p>
        </div>
        <div class="spot-img" id="image">
          <img src="" alt="地図">
        </div>
      </div>
    </div>
    <%= form_with(model: @review) do |f| %>
      <div class="image-area">
        <p>写真投稿</p>
        <h5>最大で4枚までアップロードできます</h5>
        <%= f.file_field :images, multiple: true, style:'display: none;', id:"img-file" %>
        <div class="image-block">

          <% @images.each do |image| %>
            <div class='image-box initial-image'>
              <div class='item-image'>
                <%= image_tag image %>
                <%= hidden_field_tag 'initial_image_keys[]', image.key %>
              </div>
              <div class='delete-box'>
                <div class='initial-image-delete cursor-pointer'>削除</div>
              </div>
            </div>
          <% end %>

          <label for="img-file" class="add-image-box cursor-pointer" id="add-image">
            <i class="fas fa-solid fa-image"></i>
          </label>
        </div>
      </div>
      <div class="text-area">
        <div id="error_explanation"></div>
        <div id="star">
          <%= f.label :rate,'評価 ' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <div>
          <%= f.text_field :title, placeholder: "レビュータイトル" %>
        </div>
        <%= f.text_area :content, placeholder: "あなたの体験をシェアしませんか？" %>
        <%= f.submit '更新', class: 'submit-button' %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :spot, id: 'spot-info', value: '' %>
      </div>
    <% end %>
  </div>
</section>
<script>
  $('#review').show();
  $('#star').empty();
  $('#star').raty({
    size: 16,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn:   '<%= asset_path('star-on.png') %>',
    score:     <%= @review.rate %>,
    scoreName: 'review[rate]'
  });
  src_url = 'http://maps.googleapis.com/maps/api/staticmap?markers=' +
              <%= @review.spot.lat %> + ',' + 
              <%= @review.spot.lng %> + 
              '&size=180x110&scale=1&zoom=15&key=<%= ENV['GOOGLE_API_KEY'] %>';
  $('#image').children('img').attr('src', src_url);
  if ($(".initial-image").length  >= 4) {
    $('.add-image-box').css('display', 'none')
  }
  $(document).on("click", '.initial-image-delete', function () {
    var target_image = $(this).parent().parent()
    target_image.remove()
    $('.add-image-box').show()
  })
</script>
