<section class="review-new content-width">
  <div class="review-area area" id="review">
    <%= form_with(model: @review) do |f| %>
      <div class="text-area">
        <div id="star">
          <%= f.label :rate,'評価 ' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <div>
          <%= f.text_field :title, placeholder: "レビュータイトル" %>
        </div>
        <%= f.text_area :content, placeholder: "あなたの体験をシェアしませんか？" %>
        <%= f.submit '投稿', class: 'submit-button' %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :spot, id: 'spot-info', value: '' %>
      </div>
    <% end %>
  </div>
</section>
<script>
  $('#review').show();
  $('#star').empty();
  $('#star').raty({
    size: 16,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    score: <%= @review.rate %>,
    scoreName: 'review[rate]'
  });
</script>
