<%= render 'shared/header' %>
<section class="review-new content-width">
  <div class="search-area area" id="search">
    <h2 class="search-title">レビューするスポットを選択してください</h2>
    <%= form_with(url: map_request_path, method: :get) do |f| %>
      <%= f.text_field :keyword, id: "keyword", placeholder: "施設、最寄駅等を入力" %>
      <%= button_tag :type => "submit", class: 'submit' do %>
        <span>検索</span>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  <div class="select-spot-area" id="spot"></div>
  <div class="review-area area" id="review">
    <div class="spot-area">
      <div class="spot-box contents-tidy">
        <div class="spot-info">
          <h3 class="spot-name" id="spot-name"></h3>
          <p class="spot-address" id="spot-address"></p>
          <h5 class="cursor-pointer" onclick="displaySearch()">変更する</h5>
        </div>
        <div class="spot-img" id="image">
          <img src="" alt="地図">
        </div>
      </div>
    </div>
    <%= form_with(model: @review) do |f| %>
      <div class="image-area">
        <p>写真投稿</p>
        <p class="upload-explanation">最大で4枚までアップロードできます</p>
        <%= f.file_field :images, multiple: true, class:"hidden", id:"img-file" %>
        <div class="image-block">
          <label for="img-file" class="add-image-box cursor-pointer" id="add-image">
            <i class="fas fa-solid fa-image"></i>
          </label>
        </div>
      </div>
      <div class="text-area">
        <div id="error_explanation"></div>
        <div id="star">
          <%= f.label :rate,'評価 ' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <div>
        <%= f.text_field :title, placeholder: "レビュータイトル" %>
        </div>
        <%= f.text_area :content, placeholder: "あなたの体験をシェアしませんか？" %>
        <%= f.submit '投稿', class: 'submit-button' %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :spot, id: 'spot-info', value: '' %>
      </div>
    <% end %>
  </div>
</section>
<script>
  function displaySearch() {
    $('#search').fadeIn();
    $('#spot').fadeIn();
    $('#review').fadeOut();
  }
  $('#star').empty();
  $('#star').raty({
    size: 16,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    scoreName: 'review[rate]'
  });
</script>
