<%= render 'shared/header' %>
<section class="review-show content-width">
  <div class="spot-block">
    <div class="spot-info">
      <h1 class="spot-name">
        <%= link_to @review.spot.name, @review.spot %>
        <span><%= render 'shared/favorite', spot: @review.spot %></span>
      </h1>
      <span class="rate average-rate" data-score="<%= @review.spot.average_rate %>"></span>
      <span><%= @review.spot.average_rate.round(2) %></span>
      <span>
        <i class="fas fa-regular fa-comment-dots"></i>
          <%= @review.spot.reviews.count %>件
      </span>
      <p>
        <i class="fas fa-map-marker-alt"></i>
        <span class="spot-address"><%= @review.spot.address %></span>
      </p>
    </div>
  </div>
  <div class="main-block">
  <p class="update-time">
    <%= @review.created_at.strftime('%Y/%m/%d %H:%M') %>に更新
  </p> 
    <%= link_to @review.user, class:'user-profile contents-tidy' do %>
      <% if @review.user.image.attached? %>
        <%= image_tag(@review.user.image, size: "35x35", class: 'icon') %>
      <% else %>
        <%= image_tag('guest_user.png', size: "35x35", class: 'icon') %>
      <% end %>
      <p class="user-name"><span><%= @review.user.name %></span>さんの口コミ</p>
    <% end %>
    <span class="rate" data-score="<%= @review.rate %>"></span>
    <span><%= @review.rate %></span>
    <h1 class="review-title"><%= @review.title %></h1>
    <div class="review-content"><%= simple_format(@review.content) %></div>
    <ul class="review-image contents-tidy view-modal">
      <% @images.each do |image| %>
        <li><%= image_tag(image) %></li>
      <% end %>
    </ul>
      <%= link_to "削除", review_path(@review), data: { confirm: "本当に削除しますか？" }, 
        "data-turbolinks": false, method: :delete if @review.user == current_user
      %>
    <p class="like-box">
      <%= render 'shared/like', review: @review %>
    </p>
    <%= render 'shared/modal' %>
  </div>
  <div class="review-block" id="review">
    <h2 class="othres-review-title">このスポットのその他のレビュー</h2>
    <% if @other_reviews.empty? %>
      <p>その他のレビューはありません。</p>
    <% else %>
      <%= render @other_reviews ,length: @max_review_content_length %>
    <% end %>
  </div>
</section>
<%= render 'shared/footer' %>
